---
import Layout from '../layouts/Layout.astro';
---

<Layout title="DopeAI">
	<main>
		<header class="text-center pt-40">
			<!-- a gradient text with a purple shadow for the text -->
			<h1 class="text-gradient bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-5xl font-extrabold text-transparent bg-clip-text">
				DopeAI: A whole suite of AI tools to help you code better
			</h1>
			<p class="text-gray-500 text-xl mt-4 w-1/2 mx-auto">
				We are a team of developers who are passionate about making coding
				easier for everyone. We are building a suite of AI tools to help you
				code productively.
			</p>
			<div class="mt-8">
				<a href="">
					<button class="bg-blue-800 font-bold py-2 px-4 rounded">
						Learn More
					</button>
				</a>
				<a href="">
					<button class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 hover:from-pink-500 hover:to-red-500 text-white font-bold py-2 px-4 rounded ml-4">
						Pricing
					</button>
				</a>
		</header>
		<article class="mt-20 flex flex-col sm:flex-row items-center gap-8 mx-auto justify-center">
			<div class="w-auto">
			<h2 class="text-3xl font-bold">What is DopeAI?</h2>
			<p class="text-gray-500 text-xl mt-4">
				DopeAI is a suite of AI tools to help you code better. We are a team of
				developers who are passionate about making coding easier for everyone.
				We are building a suite of AI tools to help you code productively.
			</p>
			</div>
			<p class="text-[15rem]">🚀</p>
		</article>
		<article class="mt-20 flex flex-col sm:flex-row items-center gap-8 mx-auto justify-center">
			<div class="w-auto">
			<h2 class="text-3xl font-bold">Supercharged with AI</h2>
			<p class="text-gray-500 text-xl mt-4">
				All our tools are supercharged with AI. We use the latest AI technologies such as the latest OpenAI models (davinci-codex, gpt-3.5, gpt-4) to help you code better and faster.
			</p>
			</div>
			<p class="text-[15rem]">🤖</p>
		</article>
		<article class="mt-20 flex flex-col sm:flex-row items-center gap-8 mx-auto justify-center">
			<div class="w-auto">
			<h2 class="text-3xl font-bold">Why?</h2>
			<p class="text-gray-500 text-xl mt-4">
				All of our tools are built with the developer in mind. We are developers ourselves and we know how hard it is to code. We want to make coding easier for everyone. Our tools do things such as: give you examples, code suggestions, error fixes, and more!
			</p>
			</div>
			<p class="text-[15rem]">🤔</p>
		</article>
		<summary class="mt-20 mx-auto items-center flex flex-col gap-8 justify-center">
			<!--  CTAs -->
			<p class="text-3xl font-bold">Ready to get started?</p>
			<div class="flex flex-col sm:flex-row items-center gap-8">
				<a href="">
					<button class="bg-blue-800 font-bold py-2 px-4 rounded">
						Products
					</button>
				</a>
				<a href="">
					<button class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 hover:from-pink-500 hover:to-red-500 text-white font-bold py-2 px-4 rounded ml-4">
						Pricing
					</button>
				</a>
			</div>
		</summary>
		<!--  footer -->
		<footer class="mt-20">
			<p class="text-center text-gray-500 text-sm mt-4">
				© 2021 DopeAI. All rights reserved.
			</p>
		</footer>
	</main>
</Layout>

<style>
	main {
		padding: 2rem;
	}

		/* make the text bigger on ultra wide screens */
	@media (min-width: 2560px) {
		main {
			font-size: 1.5rem;
		}
	}
</style>
